<% nav ||= 'Home' %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">EmpireOne</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active' if nav=='Home' %>">
        <%= link_to "Write Check", root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= 'active' if nav=='List' %>">
        <%= link_to "List Checks", checks_path, class: 'nav-link' %>
      </li>
    </ul>
    <% if nav=="List" %>
      <%= form_with url: checks_path, class: 'form-inline my-2 my-lg-0', local: true, method: :get do |f| %>
          <%= f.text_field :query, class: 'form-control mr-sm-2', placeholder: 'Search' %>
          <%= f.submit "Search Checks", class: 'btn btn-outline-success my-2 my-sm-0', name: nil %>
      <% end %>
    <% end %>
  </div>
</nav>
